/*-------------------------------- FONTS --------------------------------*/

	@font-face {
		font-family: Avenir-Next-UltraLight;
		src: url(assets/fonts/avenir-next/AvenirNext-UltraLight.otf);
	}
	@font-face {
		font-family: Avenir-Next-Regular;
		src: url(assets/fonts/avenir-next/AvenirNext-Regular.otf);
	}
	@font-face {
		font-family: Avenir-Next-Medium;
		src: url(assets/fonts/avenir-next/AvenirNext-Medium.otf);
	}
	@font-face {
		font-family: Avenir-Next-DemiBold;
		src: url(assets/fonts/avenir-next/AvenirNext-DemiBold.otf);
	}
	@font-face {
		font-family: Avenir-Next-Bold;
		src: url(assets/fonts/avenir-next/AvenirNext-Bold.otf);
	}
	@font-face {
		font-family: Avenir-Next-Heavy;
		src: url(assets/fonts/avenir-next/AvenirNext-Heavy.otf);
	}
	

/* ------------------------------------------------ FULL SITE STYLING */

* {
	box-sizing: border-box;
}
body {
	color: #1a1a1a;
	padding: 0;
	margin: 0;
	min-width: 100%;
	max-width: 100%;
	height: auto;
	background: #FFFFFF;
	overflow-x: hidden;
	background: #FFFFFF;
	-webkit-font-smoothing: subpixel-antialiased !important; 
    text-rendering:optimizeLegibility !important;
	font-family: Avenir-Next-Regular;
/*	font-family: Avenir-Next-UltraLight;*/
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}
body::-webkit-scrollbar{
    display: none;
  }
a {
	text-decoration: none;
	color: black !important;
	cursor: pointer !important;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
/*h2::before {
	content:'';
	position: absolute;
	width: 100%;
	height: 1px;
	border-radius: 4px;
	background-color: red;
	bottom: 0;
	left: 0;
	transform-origin: right;
	transform-origin: scaleX(0);
	transition: transform .3s ease-in-out;
}
h2:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}*/
a:hover {
	cursor: pointer !important;
}
p {
	margin: 0;
	font-size: 16px;
/*	font-family: Avenir-Next-UltraLight;*/
}
h1, h2, h3, h4, h5, h6 {
	margin: 5px 0px;
	text-rendering: ;
/*	font-family: Avenir-Next-UltraLight;*/
}
h1 {
	font-size: 48px;
}
h2 {
	font-size: 36px;
	width: 100%;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
}

/* ----------------------------- text highight color if you want it */
/*::selection {
	text-shadow: 1px 2px blue;
	color: white;
	background-color: black;
}*/


/* ------------------------------------------------ NAV BAR STYLING */
.nav-bar {
	display: flex;
	width: 100%;
	position: fixed;
	background: white;
	padding: 25px 100px;
	top: 0;
	justify-content: space-between;
	font-family: Avenir-Next-Medium;
	z-index: 99999;
}

/* ------------------------------------------------ FOOTER STYLING */
/*.footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	background: black;
	padding: 25px 100px;
	top: 0;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer-row:first-child {
	margin-bottom: 50px;
}
.footer-row {
	flex: 1;
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.footer-link {
	flex: 1;
}
.footer-about {
	flex: 2;
}
.footer a {
	color: white;
}*/

/* ------------------------------------------------ HOME PAGE STYLING */

.home-page-project-grid {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 68px 100px 0px 100px;
	/*max-width: 2560px;
	margin: 0 auto;*/
}
.project {
	width: 66.6666%;
	margin: 50px 0px;
/*	padding: 100px;*/
}
/*.project:first-child {
	margin-top: 0;
}*/
.grid-left {
	align-self: flex-start;
}
.grid-right {
	align-self: flex-end;
}
.home-page-grid-image {
	overflow: hidden;
	background: black;
}
.home-page-grid-image img {
	width: 100%;
	transform: scale(1.02);
	height: auto;
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	-ms-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.home-page-grid-description {
	margin-top: 10px;
}
/*.project-thumbnail {

}*/

/* ------------------------------------------------ PROJECT PAGE STYLING */

.project-page-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 68px 100px 0px 100px;

}

.project-hero-image, .project-image-landscape, .project-image-portrait, .project-image-square {
	margin: 0 auto;
	margin-bottom: 100px;
}
.project-image-landscape, .project-image-portrait, .project-image-square {
	max-width: 800px;
	display: flex;
	flex-direction: column;
/*	align-items: flex-start;*/
}
.project-hero-image img, .project-image-square img, .project-image-portrait img {
	max-height: 800px;
}
.project-hero-image img {
	max-width: 1200px;
}
.project-hero-image img, .project-image-square img, .project-image-landscape img {
	width: 100%;
}
.project-image-portrait img {
	width: auto;
}
.project-image-landscape img {
	max-width: 800px;
	height: auto;
}
.project-text {
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
}
.project-title {
	margin-top: 15px;
	line-height: 1.2em;
}
.project-description {
	max-width: 800px;
}
.image-caption {
	margin-top: 15px;
	max-width: inherit !important;
	text-align: center;
	font-size: 14px;
	color: #757575;
}
.project-navigation {
	display: flex;
	padding: 0 100px 50px 100px;
	justify-content: space-between;
/*	font-size: 24px;*/
	font-family: Avenir-Next-Medium;
}
/* ------------------------------------------------ ABOUT PAGE STYLING */

.about-columns {
	display: flex;
	gap: 50px;
/*	margin: 68px 100px 0px 100px;*/
	margin: 150px auto;
	max-width: 1100px;
/*	justify-content: center;*/
}
.about-photo, .about-description {
	height: auto;
	flex: 1;
/*	padding: 50px;*/
}
.about-photo img {
	width: 100%;
/*	transform: scale(1.01);*/
}
.about-description {
/*	width: 50%;*/
	height: auto;
	flex: 2;
}
/*.about-description p {
	width: 600px;
}*/
.contact-info {
	font-family: Avenir-Next-Medium;
}

/* ------------------------------------------------ HOVER STATES */

.underline { 
	position: relative;
}
.underline:after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    display: block;
    margin-top: -3px;
    /* right: 0; */
    left: 0;
    background: black;
    -webkit-transition: .25s cubic-bezier(.92,0,.5,1);
    -moz-transition: .25s cubic-bezier(.92,0,.5,1);
    -o-transition: .25s cubic-bezier(.92,0,.5,1);
    -ms-transition: .25s cubic-bezier(.92,0,.5,1);
    transition: .25s cubic-bezier(.92,0,.5,1);
}
.underline:hover:after, .project-thumbnail:hover .underline:after {
	width: 100%;
  	left: 0;
  	-webkit-transition: .25s cubic-bezier(.92,0,.5,1);
	-moz-transition: .25s cubic-bezier(.92,0,.5,1);
	-o-transition: .25s cubic-bezier(.92,0,.5,1);
	-ms-transition: .25s cubic-bezier(.92,0,.5,1);
	transition: .25s cubic-bezier(.92,0,.5,1);
}
.project-thumbnail:hover .home-page-grid-image img {
	transform: scale(1.1);
	opacity: 0.5;
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	-ms-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

/* ------------------------------------------------ MEDIA QUERIES */


/* ------------------------------------------------ L BREAKPOINT */

@media only screen and (max-width: 1280px) {
	.home-page-project-grid {
/*		margin: 100px 50px;*/
	}
	.project-hero-image img, .project-image-square img, .project-image-portrait img {
		max-height: 600px;
	}
}

/* ------------------------------------------------ M BREAKPOINT */

@media only screen and (max-width: 1024px) {
	.home-page-project-grid, .about-columns, .project-page-container {
		margin: 100px 50px;
	}
	.nav-bar, .project-navigation {
		padding: 25px 50px;
	}
}

/* ------------------------------------------------ S BREAKPOINT */

@media only screen and (max-width: 768px) {
	.home-page-project-grid, .about-columns, .project-page-container  {
		margin: 100px 25px;
	}
	.nav-bar, .project-navigation {
		padding: 25px;
	}
	.project {
		width: 75%;
	}
	.project-hero-image img, .project-image-square img, .project-image-portrait img {
		max-height: 600px;
	}
	.project-image-landscape img {
		max-width: 600px;
	}
}

/* ------------------------------------------------ XS BREAKPOINT */

@media only screen and (max-width: 480px) {
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 18px;
	}
	.home-page-project-grid, .about-columns, .project-page-container  {
		margin: 100px 25px 25px 25px;
	}
	.home-page-project-grid {
		gap: 50px;
	}
	.about-columns {
		flex-direction: column;
		gap: 10px;
	}
	.about-description, .about-photo {
/*		padding: 25px 0px;*/
	}
	.nav-bar, .project-navigation {
		padding: 25px;
	}
	.project {
    	width: 100%;
    	margin: 0px;
	}
	.project-hero-image, .project-image-landscape, .project-image-portrait, .project-image-square {
		margin: 0 auto;
		margin-bottom: 50px;
	}
}
